@keyframes slideInFromTop {
  0% {
    top: -3rem;
	height: 0rem;
  }
  50% {
    top: -3rem;
	height: 0rem;
  }
  100% {
    top: 0rem;
	height: 3rem;
  }
}

app-taskbar {
	display: block;
	position: relative;
	animation: 1s ease-out 0s 1 slideInFromTop;
}

app-taskbar > nav > .container-fluid {
	height: 3rem;
}

app-taskbar header > div {
	width: fit-content;
}

app-taskbar header > div, app-taskbar footer > div {
	display: flex !important;
	height: 3rem;
}
