<header class="scale-2 scale-sm-3 scale-md-4 scale-lg-5">
	<div class="mouse-oriented">
		<div class="title">
			<h1>{{ h1 }}</h1>
			<h2>{{ h2 }}</h2>
			<div class="smoke"></div>
		</div>
		<nav class="lead pl-0">
			<ul class="list-default d-flex justify-content-center my-3">
				<li><a href="https://github.com/MorganCaron?tab=repositories" class="btn lite">Projects</a></li>
				<li><a href="cv" class="btn lite page">CV</a></li>
				<li><a href="about" class="btn lite page">About</a></li>
			</ul>
		</nav>
		<hr>
		<nav class="lead pl-0 ">
			<ul class="list-default d-flex justify-content-center my-3 line-height-normal">
				<li><a class="mx-1" href="https://discord.gg/mxZvun4"><img src="https://img.shields.io/static/v1?label=&message=Discord&color=blue&logo=discord&logoColor=white&style=for-the-badge" alt="Discord"></a></li>
				<li><a class="mx-1" href="https://github.com/MorganCaron"><img src="https://img.shields.io/static/v1?label=&message=Github&color=grey&logo=github&logoColor=white&style=for-the-badge" alt="Github"></a></li>
				<li><a class="mx-1" href="https://www.linkedin.com/in/morgancaron/"><img src="https://img.shields.io/static/v1?label=&message=LinkedIn&color=blue&logo=linkedin&logoColor=white&style=for-the-badge" alt="LinkedIn"></a></li>
			</ul>
		</nav>
		<hr>
	</div>
</header>
<span class="scroll-arrow"></span>
